{% extends "components/base.html" %}
{% set centered = True %}
{% set page_title %}{{ challenge.challenge_type }} by
{{ challenge.challenge_author }}{% endset %}
{% set extra_tags %}
<meta http-equiv="refresh" content="2">{% endset %}
{% set page_header %}<div class="row align-items-center">
    <div class="col-4">
        <a href="/dashboard"><strong>{{ __name__ }}</strong></a>
    </div>
    <div class="col-8 text-right">
        <img src="{{ avatar }}" width=24 height=24 class="rounded"
            style="vertical-align:middle;"> {{ user.first_name }} {{ user.last_name }}
        <small>({{ user.id_ }})</small>
    </div>
</div>{% endset %}
{% set page_main %}<div class="row">
    <div class="col-12">
        <h3>{{ challenge.challenge_type }}</h3>
        <h1><code>{{ challenge.session_challenge_key }}</code> <a href="#" class="btn btn-info btn-sm" id="copy_link">Copy link</a></h1>
    </div>
    <div class="col-12 display">
        <h5><small>By</small> {{ challenge.challenge_author }}
            <small>({{ challenge.challenge_author_id }})</small></h5>
        <label>Created at<p>{{ challenge.created | full_datetime }}</p></label>
        <label>Stakes<h1>{{ "%.2f" | format(challenge.wager_amount) }} EUR</h1></label>
        <hr class="my-3">
        <h5>Participants</h5>
        <ol>{% for participant in challenge.participants %}
            {% set participant = challenge.participants[participant] %}
            <li><img src="{{ participant.avatar }}" width=24 height=24 class="rounded"
                    style="vertical-align:middle;"> {{ participant.full_name }}
                <small>{{ participant.participant_id }} {% if participant.participant_id == user.id_ %}<em>(That's you!)</em>{% endif %}</small></li>
            {% else %}No participants (yet!){% endfor %}</ol>
        {% if user.id_ not in challenge.participants %}
        <hr class="my-3">
        <div class="text-center"><a class="btn btn-success px-5 mr-3"
                href="/join_challenge/{{ challenge.session_challenge_key }}"
                role="button">&checkmark;</a> <a class="btn btn-danger px-5"
                href="/dashboard" role="button">&cross;</a></div>
        {% elif challenge.challenge_author_id == user.id_ %}<div class="text-center"><a
                class="btn btn-success px-5 mr-3"
                href="/start_challenge/{{ challenge.session_challenge_key }}"
                role="button">Start challenge!</a></div>{% endif %}
    </div>
</div>
<script>
    document.getElementById("copy_link").addEventListener("click", function (e) {
        copyToClipboard("{{ __url_base__ }}/challenge_request/{{ challenge.session_challenge_key }}")
        document.getElementById("copy_link").textContent = "Copied!"
        e.preventDefault();
    });

    function copyToClipboard(text) {
        if (window.clipboardData && window.clipboardData.setData) {
            // Internet Explorer-specific code path to prevent textarea being shown while dialog is visible.
            return clipboardData.setData("Text", text);

        }
        else if (document.queryCommandSupported && document.queryCommandSupported("copy")) {
            var textarea = document.createElement("textarea");
            textarea.textContent = text;
            textarea.style.position = "fixed";  // Prevent scrolling to bottom of page in Microsoft Edge.
            document.body.appendChild(textarea);
            textarea.select();
            try {
                return document.execCommand("copy");  // Security exception may be thrown by some browsers.
            }
            catch (ex) {
                console.warn("Copy to clipboard failed.", ex);
                return false;
            }
            finally {
                document.body.removeChild(textarea);
            }
        }
    }
</script>{% endset %}
{% set page_footer %}<div class="row align-items-center">
    <div class="col-12 text-right">
        <small><strong>Version </strong> {{ __version__ }}</small>
    </div>
</div>{% endset %}
