{% extends "components/base.html" %}
{% set centered = True %}
{% set page_title %}{{ challenge.challenge_type }} by
{{ challenge.challenge_author }}{% endset %}
{% set page_header %}<div class="row align-items-center">
    <div class="col-4">
        <a href="/dashboard"><strong>{{ __name__ }}</strong></a>
    </div>
    <div class="col-8 text-right">
        <img src="{{ avatar }}" width=24 height=24 class="rounded"
            style="vertical-align:middle;"> {{ user.first_name }} {{ user.last_name }}
        <small>({{ user.id_ }})</small>
    </div>
</div>{% endset %}
{% set page_main %}<div class="row">
    <div class="col-12">
        <h6>{{ challenge.challenge_type  }}</h6>
    </div>
    <div class="col-12 display">
        {{ content | safe }}
    </div>
</div>
<script>
    setTimeout(function (e) {
        window.location.href = "/challenge_yield/{{ challenge.session_challenge_key }}/" + window.result
    }, {{ challenge_duration }} * 1000)
</script>{% endset %}
{% set page_footer %}<div class="row align-items-center">
    <div class="col-12 text-right">
        <small><strong>Version </strong> {{ __version__ }}</small>
    </div>
</div>{% endset %}
