{% extends "components/base.html" %}
{% set centered = True %}
{% set error_title %}{{ error_code }}{% if error_message %} &ndash; {{ error_message }}{% endif %}{% endset %}
{% set page_title %}{{ error_title }}{% endset %}
{% set page_header %}<div class="row align-items-center">
    <div class="col">
        <a href="/"><strong>{{ __name__ }}</strong></a>
    </div>
</div>{% endset %}
{% set page_main %}<div class="row">
    <div class="col-12 text-center">
        <h1 class="error-code">{{ error_code }}</h1>{% if error_message %}
        <p>{{ error_message }}</p>{% endif %}
    </div>
</div>{% endset %}
{% set page_footer %}<div class="row align-items-center">
    <div class="col-10"></div>
    <div class="col-2 text-right">
        <small><strong>Version </strong> {{ __version__ }}</small>
    </div>
</div>{% endset %}
